In [13]:
# Dependencies and Setup
import pandas as pd
import gmaps

# Import API key
from config import gkey
gkey

# Configure gmaps
gmaps.configure(gkey)

In [14]:
#Import final_covid_df
final_covid_df = pd.read_csv ('..\Final_COVID_Data.csv')
print (final_covid_df)
final_covid_df.columns

       Unnamed: 0 State  Year  Month  Day  Total_Cases  Total_Deaths  \
0             305    AK  2020     12   31      46740.0         198.0
1             336    AK  2021      1   31      53985.0         253.0
2             335    AK  2021      1   30      53851.0         253.0
3             334    AK  2021      1   29      53705.0         253.0
4             333    AK  2021      1   28      53524.0         253.0
...           ...   ...   ...    ...  ...          ...           ...
19393       37118    WY  2021     12    5     111812.0        1428.0
19394       37117    WY  2021     12    4     111812.0        1428.0
19395       37116    WY  2021     12    3     111812.0        1428.0
19396       37115    WY  2021     12    2     111560.0        1428.0
19397       37114    WY  2021     12    1     111275.0        1428.0

       Total_Positives  Total_Negatives  Vaccine_Dist  Vaccine_Admin  \
0              84167.0        1321410.0       54975.0        14550.0
1              93699.0        1547506.0      193150.0       119590.0
2              93549.0        1542461.0      193150.0       115268.0
3              93311.0        1536450.0      192350.0       110396.0
4              93106.0        1529200.0      178075.0       105858.0
...                ...              ...           ...            ...
19393          86667.0        1087931.0      821905.0       644277.0
19394          86586.0        1087229.0      822045.0       643976.0
19395          86503.0        1085880.0      822325.0       640504.0
19396          86360.0        1083492.0      817415.0       637996.0
19397          86189.0        1080741.0      815645.0       635030.0

       Vaccine_Int  Vaccine_Complete  Add_Dose
0              0.0               0.0       0.0
1              0.0               0.0       0.0
2              0.0               0.0       0.0
3              0.0               0.0       0.0
4              0.0               0.0       0.0
...            ...               ...       ...
19393     313458.0          266049.0   75900.0
19394     313280.0          265972.0   75751.0
19395     312448.0          265193.0   73853.0
19396     311795.0          264744.0   72324.0
19397     311106.0          264155.0   70531.0

[19398 rows x 14 columns]

Index(['Unnamed: 0', 'State', 'Year', 'Month', 'Day', 'Total_Cases',
       'Total_Deaths', 'Total_Positives', 'Total_Negatives', 'Vaccine_Dist',
       'Vaccine_Admin', 'Vaccine_Int', 'Vaccine_Complete', 'Add_Dose'],
      dtype='object')

In [7]:
#Import state_population_df
state_population_df = pd.read_csv ('..\State_Population.csv')
print (state_population_df)

    Unnamed: 0                  NAME State  POP_2021
0            0               Alabama    AL   5039877
1            1                Alaska    AK    732673
2            2               Arizona    AZ   7276316
3            3              Arkansas    AR   3025891
4            4            California    CA  39237836
5            5              Colorado    CO   5812069
6            6           Connecticut    CT   3605597
7            7              Delaware    DC   1003384
8            8  District of Columbia    DE    670050
9            9               Florida    FL  21781128
10          10               Georgia    GA  10799566
11          11                Hawaii    HI   1441553
12          12                 Idaho    ID   1900923
13          13              Illinois    IL  12671469
14          14               Indiana    IN   6805985
15          15                  Iowa    IA   3193079
16          16                Kansas    KS   2934582
17          17              Kentucky    KY   4509394
18          18             Louisiana    LA   4624047
19          19                 Maine    ME   1372247
20          20              Maryland    MD   6165129
21          21         Massachusetts    MA   6984723
22          22              Michigan    MI  10050811
23          23             Minnesota    MN   5707390
24          24           Mississippi    MS   2949965
25          25              Missouri    MO   6168187
26          26               Montana    MT   1104271
27          27              Nebraska    NE   1963692
28          28                Nevada    NV   3143991
29          29         New Hampshire    NH   1388992
30          30            New Jersey    NJ   9267130
31          31            New Mexico    NM   2115877
32          32              New York    NY  19835913
33          33        North Carolina    NC  10551162
34          34          North Dakota    ND    774948
35          35                  Ohio    OH  11780017
36          36              Oklahoma    OK   3986639
37          37                Oregon    OR   4246155
38          38          Pennsylvania    PA  12964056
39          39           Puerto Rico    PR   3263584
40          40          Rhode Island    RI   1095610
41          41        South Carolina    SC   5190705
42          42          South Dakota    SD    895376
43          43             Tennessee    TN   6975218
44          44                 Texas    TX  29527941
45          45                  Utah    UT   3337975
46          46               Vermont    VT    645570
47          47              Virginia    VA   8642274
48          48            Washington    WA   7738692
49          49         West Virginia    WV   1782959
50          50             Wisconsin    WI   5895908
51          51               Wyoming    WY    578803

In [17]:
#Import monthly_data_df
monthly_data_df = pd.read_csv ('..\Monthly Data.csv')
print (monthly_data_df)
monthly_data_df.columns

     Unnamed: 0 State  Year  Month  Day  Total_Cases  Total_Deaths  \
0             0    AK  2020     12   31      46740.0         198.0
1             1    AK  2021      1   31      53985.0         253.0
2             2    AK  2021      2   28      57846.0         279.0
3             3    AK  2021      3   31      62559.0         299.0
4             4    AK  2021      4   30      67598.0         330.0
..          ...   ...   ...    ...  ...          ...           ...
684         684    WY  2021      8   31      75136.0         858.0
685         685    WY  2021      9   30      90602.0         996.0
686         686    WY  2021     10   31     102926.0        1174.0
687         687    WY  2021     11   30     111089.0        1428.0
688         688    WY  2021     12   31     115638.0        1526.0

     Total_Positives  Total_Negatives  Vaccine_Dist  Vaccine_Admin  \
0            84167.0        1321410.0       54975.0        14550.0
1            93699.0        1547506.0      193150.0       119590.0
2            98919.0        1742031.0      342535.0       264741.0
3           104247.0        1954197.0      601225.0       407233.0
4           109932.0        2152524.0      769205.0       552792.0
..               ...              ...           ...            ...
684          62119.0         865487.0      586155.0       478281.0
685          72700.0         949582.0      658215.0       520777.0
686          80967.0        1018071.0      742965.0       569168.0
687          85935.0        1076917.0      813665.0       632809.0
688          89862.0        1130099.0      846205.0       686161.0

     Vaccine_Int  Vaccine_Complete  Add_Dose  Monthly Cases  Monthly Deaths  \
0            0.0               0.0       0.0            NaN             NaN
1            0.0               0.0       0.0         7245.0            55.0
2       166735.0               0.0       0.0         3861.0            26.0
3       248711.0          163100.0       0.0         4713.0            20.0
4       305395.0          256564.0       0.0         5039.0            31.0
..           ...               ...       ...            ...             ...
684     262132.0          223590.0       0.0        10009.0            82.0
685     280635.0          240814.0       0.0        15466.0           138.0
686     294284.0          254028.0   30404.0        12324.0           178.0
687     310481.0          263763.0   69165.0         8163.0           254.0
688     323709.0          275369.0   99199.0         4549.0            98.0

     Monthly Positive  Monthly Negatives  Monthly Vaccine Completed
0                 NaN                NaN                        NaN
1              9532.0           226096.0                        0.0
2              5220.0           194525.0                        0.0
3              5328.0           212166.0                   163100.0
4              5685.0           198327.0                    93464.0
..                ...                ...                        ...
684            6378.0            59414.0                    11360.0
685           10581.0            84095.0                    17224.0
686            8267.0            68489.0                    13214.0
687            4968.0            58846.0                     9735.0
688            3927.0            53182.0                    11606.0

[689 rows x 19 columns]

Index(['Unnamed: 0', 'State', 'Year', 'Month', 'Day', 'Total_Cases',
       'Total_Deaths', 'Total_Positives', 'Total_Negatives', 'Vaccine_Dist',
       'Vaccine_Admin', 'Vaccine_Int', 'Vaccine_Complete', 'Add_Dose',
       'Monthly Cases', 'Monthly Deaths', 'Monthly Positive',
       'Monthly Negatives', 'Monthly Vaccine Completed'],
      dtype='object')

In [18]:
# Add columns for lat and lng into the monthly_data_df
# Note that we used "" to specify initial entry.
monthly_data_df["Lat"] = ""
monthly_data_df["Lng"] = ""
monthly_data_df.head()

,Unnamed: 0,State,Year,Month,Day,Total_Cases,Total_Deaths,Total_Positives,Total_Negatives,Vaccine_Dist,...,Vaccine_Int,Vaccine_Complete,Add_Dose,Monthly Cases,Monthly Deaths,Monthly Positive,Monthly Negatives,Monthly Vaccine Completed,Lat,Lng
0,0,AK,2020,12,31,46740.0,198.0,84167.0,1321410.0,54975.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,,
1,1,AK,2021,1,31,53985.0,253.0,93699.0,1547506.0,193150.0,...,0.0,0.0,0.0,7245.0,55.0,9532.0,226096.0,0.0,,
2,2,AK,2021,2,28,57846.0,279.0,98919.0,1742031.0,342535.0,...,166735.0,0.0,0.0,3861.0,26.0,5220.0,194525.0,0.0,,
3,3,AK,2021,3,31,62559.0,299.0,104247.0,1954197.0,601225.0,...,248711.0,163100.0,0.0,4713.0,20.0,5328.0,212166.0,163100.0,,
4,4,AK,2021,4,30,67598.0,330.0,109932.0,2152524.0,769205.0,...,305395.0,256564.0,0.0,5039.0,31.0,5685.0,198327.0,93464.0,,

In [19]:
#Drop first cloumn
monthly_data_df.drop(columns="Unnamed: 0")

,State,Year,Month,Day,Total_Cases,Total_Deaths,Total_Positives,Total_Negatives,Vaccine_Dist,Vaccine_Admin,Vaccine_Int,Vaccine_Complete,Add_Dose,Monthly Cases,Monthly Deaths,Monthly Positive,Monthly Negatives,Monthly Vaccine Completed,Lat,Lng
0,AK,2020,12,31,46740.0,198.0,84167.0,1321410.0,54975.0,14550.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,,
1,AK,2021,1,31,53985.0,253.0,93699.0,1547506.0,193150.0,119590.0,0.0,0.0,0.0,7245.0,55.0,9532.0,226096.0,0.0,,
2,AK,2021,2,28,57846.0,279.0,98919.0,1742031.0,342535.0,264741.0,166735.0,0.0,0.0,3861.0,26.0,5220.0,194525.0,0.0,,
3,AK,2021,3,31,62559.0,299.0,104247.0,1954197.0,601225.0,407233.0,248711.0,163100.0,0.0,4713.0,20.0,5328.0,212166.0,163100.0,,
4,AK,2021,4,30,67598.0,330.0,109932.0,2152524.0,769205.0,552792.0,305395.0,256564.0,0.0,5039.0,31.0,5685.0,198327.0,93464.0,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,WY,2021,8,31,75136.0,858.0,62119.0,865487.0,586155.0,478281.0,262132.0,223590.0,0.0,10009.0,82.0,6378.0,59414.0,11360.0,,
685,WY,2021,9,30,90602.0,996.0,72700.0,949582.0,658215.0,520777.0,280635.0,240814.0,0.0,15466.0,138.0,10581.0,84095.0,17224.0,,
686,WY,2021,10,31,102926.0,1174.0,80967.0,1018071.0,742965.0,569168.0,294284.0,254028.0,30404.0,12324.0,178.0,8267.0,68489.0,13214.0,,
687,WY,2021,11,30,111089.0,1428.0,85935.0,1076917.0,813665.0,632809.0,310481.0,263763.0,69165.0,8163.0,254.0,4968.0,58846.0,9735.0,,
688,WY,2021,12,31,115638.0,1526.0,89862.0,1130099.0,846205.0,686161.0,323709.0,275369.0,99199.0,4549.0,98.0,3927.0,53182.0,11606.0,,

In [ ]:
#Create a params dict that will be updated with new city each iteration
params = {"key": gkey}

# Loop through the cities_pd and run a lat/long search for each city
for index, row in monthly_data_df.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"

    city = row['City']
    state = row['State']

    # update address key value
    params['address'] = f"{city},{state}"

    # make request
    cities_lat_lng = requests.get(base_url, params=params)
    
    # print the cities_lat_lng url, avoid doing for public github repos in order to avoid exposing key
    # print(cities_lat_lng.url)
    
    # convert to json
    cities_lat_lng = cities_lat_lng.json()

    cities_pd.loc[index, "Lat"] = cities_lat_lng["results"][0]["geometry"]["location"]["lat"]
    cities_pd.loc[index, "Lng"] = cities_lat_lng["results"][0]["geometry"]["location"]["lng"]

# Visualize to confirm lat lng appear
cities_pd.head()

In [ ]:
# Store latitude and longitude in locations
locations = new_monthly_data_df["Monthly Positive"]

# Fill NaN values and convert to float
new_cases = airport_df["Airport Rating"].astype(float)

In [ ]:
# Plot Heatmap
fig = gmaps.figure()

# Create distribution layer
distribution_layer = gmaps.distribution_layer(locations, weights=rating, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(distribution_layer)

# Display figure
fig